
<div class="container">	
	<div class="row notes_container">
		<h1><%= @note.title %></h1>
		<p><%= @note.content %></p>
	</div>


	<div class="row">
		<%= link_to 'All Notes', notes_path, class: "btn btn-info" %>

		<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-info" %>

		<%= link_to 'Delete', note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-info" %>		
	</div>
</div>

